:root {
  --primary: #eee8df;
  --secondary: #212121;
  --accent: #ffbc6b;
  --link: #ff846b;
  --tone: var(--link);
  --icon-primary: #ecbb36;
  --icon-secondary: #7c36ec;
  --icon-secondary-opacity: 1;
  --weight-paragraph: 300;
  --shadow: none;
  --opacity: 0.85;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Roboto Condensed", sans-serif;
}

.transition {
  transition: all 0.3s var(--ease);
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 7rem;
  font-weight: var(--weight-title);
}

h2 {
  font-family: "Eczar", serif;
  font-weight: var(--weight-lesser);
  color: var(--accent);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  transition: color 0.3s ease;
}

p {
  font-weight: var(--weight-paragraph);
  letter-spacing: 1px;
  font-size: 17px;
}

a {
  font-family: "Eczar", sans-serif;
  font-weight: var(--weight-lesser);
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0;
  color: var(--link);
  text-underline-offset: 2px;
}

footer {
  padding-top: 5rem;
  text-align: center;
}

strong {
  color: var(--tone);
}

