/* Import styles */
@import url(global.css);

/* Style content */

.flex {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 2rem auto;
  gap: 1rem;
}

.flex__containers {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.flex__top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex__image {
  position: relative;
  transition: transform 0.3s ease;
}

.flex__image:hover {
  transform: translateY(-7px);
  transition: transform 0.3s ease;
}

.flex__image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  opacity: var(--opacity);
}

.flex__image a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.flex__bottom {
  display: flex;
  gap: 1rem;
}

.main__source {
  display: flex;
  justify-content: center;
}

div.title-name {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .flex {
    margin-top: 4rem;
    width: 90%;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}
