@import url(global.css);

.button__return {
  margin-top: 7px; /* magic number to align with toggle button*/
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container__top {
  text-align: center;
  width: 100%;
}

.container__top a {
  margin: 0 1rem;
}

.container__image--container {
  position: relative;
  transition: transform 0.3s ease;
}

.container__image--container a {
  position: absolute;
  width: 100%;
  height: calc(100% - 1rem);
  border-radius: 5px;
  top: 0;
  left: 0;
  margin: 0;
}

.container__image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
  opacity: var(--opacity);
}

.container__image--container:hover {
  transform: translateY(-7px);
  transition: transform 0.3s ease;
}

.container__subtitle {
  color: var(--tone);
}

.container__bottom {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: -5rem;
}

.container__bottom a {
  margin: 0 1rem 0 0;
}

.custom-image {
  max-height: 600px;
  object-fit: cover;
}
